* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(64, 58, 121);
  color:white
    
}
header {
  background-color: brown;
}

header::after {
  content: '';
  display: table;
  clear:both
}

nav {
  float: right;
  /* text-align:center;
  width:200px;
  border: 2px black solid; */
}

nav ul {
  margin:0;
  padding:0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}
.projects {
  display: flex;
  flex-direction: column;
  display:grid;
  width: 600px;
  grid-template-columns: repeat(6);
}

.pro {
  border: 2px rgb(12, 83, 42) solid;
  padding: 200px;
 
  
  
}

h1 {
    text-align: center;
    color:rgb(138, 98, 24)
}

h2 {
  text-align: center;
}
